simulacao/software/TCC_RequestSimulator/Service References/ClienteRequest/ClienteRequest32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TCC_Application" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TCC_Application" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TCC_TestSimulator/WebServices/ClienteRequest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="MetodoBuscaTaxi">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GPS">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BROADCASTING">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="DISTANCIA_EUCLIDIANA">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">3</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OTIMIZACAO">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">4</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MetodoBuscaTaxi" nillable="true" type="tns:MetodoBuscaTaxi" />
  <xs:complexType name="DirectionsPoco">
    <xs:sequence>
      <xs:element minOccurs="0" name="DistanceInMeters" type="xs:double" />
      <xs:element minOccurs="0" name="Duration" type="ser:duration" />
      <xs:element minOccurs="0" name="DurationInTraffic" type="ser:duration" />
      <xs:element minOccurs="0" name="ProcessTime" type="ser:duration" />
      <xs:element minOccurs="0" name="STATUS_CODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DirectionsPoco" nillable="true" type="tns:DirectionsPoco" />
</xs:schema>