simulacao/software/TCC_RequestSimulator/Service References/ClienteRequest/ClienteRequest31.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TCC_TestSimulator/WebServices/ClienteRequest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/TCC_TestSimulator/WebServices/ClienteRequest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TCC_Application" />
  <xs:element name="RequisitarTaxi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="codigoCliente" type="q1:guid" />
        <xs:element minOccurs="0" name="latitude" type="xs:double" />
        <xs:element minOccurs="0" name="longitude" type="xs:double" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TCC_Application" minOccurs="0" name="metodo" type="q2:MetodoBuscaTaxi" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequisitarTaxiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TCC_Application" minOccurs="0" name="RequisitarTaxiResult" nillable="true" type="q3:DirectionsPoco" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarStatusTaxistaAleatorio">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarStatusTaxistaAleatorioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimentarTaxistas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MovimentarTaxistasResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>