simulacao/software/TCC_RequestSimulator/Service References/ClienteRequest/ClienteRequest1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ClienteRequest" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/TCC_TestSimulator/WebServices/ClienteRequest.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/TCC_TestSimulator/WebServices/ClienteRequest.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/TCC_TestSimulator/WebServices/ClienteRequest.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TCC_Application" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClienteRequest_RequisitarTaxi_InputMessage">
    <wsdl:part name="parameters" element="tns:RequisitarTaxi" />
  </wsdl:message>
  <wsdl:message name="IClienteRequest_RequisitarTaxi_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequisitarTaxiResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteRequest_AlterarStatusTaxistaAleatorio_InputMessage">
    <wsdl:part name="parameters" element="tns:AlterarStatusTaxistaAleatorio" />
  </wsdl:message>
  <wsdl:message name="IClienteRequest_AlterarStatusTaxistaAleatorio_OutputMessage">
    <wsdl:part name="parameters" element="tns:AlterarStatusTaxistaAleatorioResponse" />
  </wsdl:message>
  <wsdl:message name="IClienteRequest_MovimentarTaxistas_InputMessage">
    <wsdl:part name="parameters" element="tns:MovimentarTaxistas" />
  </wsdl:message>
  <wsdl:message name="IClienteRequest_MovimentarTaxistas_OutputMessage">
    <wsdl:part name="parameters" element="tns:MovimentarTaxistasResponse" />
  </wsdl:message>
  <wsdl:portType name="IClienteRequest">
    <wsdl:operation name="RequisitarTaxi">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteRequest/RequisitarTaxi" message="tns:IClienteRequest_RequisitarTaxi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteRequest/RequisitarTaxiResponse" message="tns:IClienteRequest_RequisitarTaxi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AlterarStatusTaxistaAleatorio">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteRequest/AlterarStatusTaxistaAleatorio" message="tns:IClienteRequest_AlterarStatusTaxistaAleatorio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteRequest/AlterarStatusTaxistaAleatorioResponse" message="tns:IClienteRequest_AlterarStatusTaxistaAleatorio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MovimentarTaxistas">
      <wsdl:input wsaw:Action="http://tempuri.org/IClienteRequest/MovimentarTaxistas" message="tns:IClienteRequest_MovimentarTaxistas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClienteRequest/MovimentarTaxistasResponse" message="tns:IClienteRequest_MovimentarTaxistas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClienteRequest" type="tns:IClienteRequest">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RequisitarTaxi">
      <soap:operation soapAction="http://tempuri.org/IClienteRequest/RequisitarTaxi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AlterarStatusTaxistaAleatorio">
      <soap:operation soapAction="http://tempuri.org/IClienteRequest/AlterarStatusTaxistaAleatorio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MovimentarTaxistas">
      <soap:operation soapAction="http://tempuri.org/IClienteRequest/MovimentarTaxistas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClienteRequest">
    <wsdl:port name="BasicHttpBinding_IClienteRequest" binding="tns:BasicHttpBinding_IClienteRequest">
      <soap:address location="http://localhost/TCC_TestSimulator/WebServices/ClienteRequest.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>